{% extends 'mainapp/base.html' %}
{% load static %}

    {% block title %}
        {{ title }}
    {% endblock %}

<body>

        {% block content %}
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% for product in products %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/static/shop.html">
                        <img src="/media/{{ product.big_image }}" alt="{{ product.short_desc }}">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From {{ product.price }}</p>
                            <h4>{{ product.name }}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
        {% endblock %}

